[core]
	excludesfile = /Users/quocle/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Quoc Le
	email = quoc@tinypulse.com
	username = quocleTINYpulse
	password = 29fbb50bb287f567047a5dc303505baace4ac39b
[rebase]
	instructionFormat = (%an <%ae>) %s
[commit]
	template = /Users/quocle/.stCommitMsg
[credential]
	helper = osxkeychain
[alias]
  cob = !git checkout -b $1 && git push -u origin
  st = status
  ci = commit
  co = checkout
  br = branch
  cp = "!sh $HOME/.sh/git_branch_name_to_clipboard.sh"
  unstage = reset HEAD --
  last = log -1 HEAD
  recent = !git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | head -n 100
  fco = !BRANCH=`git recent | fzf` && git checkout ${BRANCH}
  fmerge = !BRANCH=`git recent | fzf` && git merge ${BRANCH}
  fm2 = !CURRENT_BRANCH=`git cp && pbpaste` && echo "From branch ${CURRENT_BRANCH}" \
    && git fco && git fetch -p && git reset --hard @{u} \
    && echo "Merging from branch ${CURRENT_BRANCH}" \
    && git merge ${CURRENT_BRANCH} --no-edit \
    && sh ${HOME}/.sh/git_ask_to_push.sh \
    && git checkout -
[push]
	default = current
